.form-control {
    position: relative;   /*we will have absolute position items inside of this thing*/
}

.form-control i {
    visibility: hidden;  /*hide the icons and small text bc we only want to see them if needed*/
    position: absolute;
    /*top: 40px;*/
    right: 100px;
}
.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

