* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightskyblue;
}

.flex-container {
    margin: 1em;
    width: auto;
    display: flex;
    flex-direction: column;
}

.centered-div {
    text-align: center;
}

.fas {
    color: orange;
}

#searchform {
    margin: 1em;
}

.daily-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: groove;
    border-color: crimson;
    border-radius: 2%;
    margin: .5em;
    padding: .5em;
    text-align: center;
}

/*.card {*/
/*    flex-direction: column;*/
/*}*/

.daily-div p {
    /*border-style: dotted solid dotted;*/
}

.current-border {
    border-style: groove;
    width: auto;
    border-radius: 3% 3% 3% 3% / 43% 43% 43% 43%;
    border-color: crimson;
    padding-bottom: 1em;
}

#daily-heading {
    text-align: center;
}

#daily-forecast {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
    justify-content: center;
}



/*small devices*/
@media screen and (min-width:576px) {

}

/*medium devices 768px and larger*/
@media screen and (min-width:768px) {
    #daily-forecast {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        margin: auto;
        justify-content: flex-start;
    }

}