* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightskyblue;
}

.flex-container {
    margin: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.centered-div {
    text-align: center;
}

.fas {
    color: orange;
}

#searchform {
    margin: 1em;
}

/*small devices*/
@media screen and (min-width:576px) {

}

/*medium devices 768px and larger*/
@media screen and (min-width:768px) {

}